body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: rgb(240, 215, 215);
}
header{
  background: linear-gradient(to right, #51b4db, rgb(138, 233, 108));
  height: 40px;
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 18px 0px ;
}
.WELCOME h1{
  float: right;
  margin-top: 5px;
  color: white;
  margin-right: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
  margin: 7px;
  padding-top: 18px;
  margin-left: 15px;
}
li{
  display: inline;
  margin: 70px 50px 70px 50px;
  padding: 20px 0px 20px 0px;
  font-size: 20px ;
  font-weight: bolder;
}
li a{
  text-decoration: none;
  color: rgb(35, 39, 236);
}
li a:hover{
  color:  rgb(138, 233, 108);
}

.background{
  background-image: url(bg.jpg);
  background-size: cover;
  position: relative;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100%;
  padding: 100px 0px 100px 0px;
}

.background a {
  border: 5px solid wheat;
  margin: 0px;
  font-size: 20px;
  color:rgb(250, 249, 246);
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #1abefa;
  opacity: 0.6;
}
.background a{
  text-decoration: none;
}
.background a:hover{
  border-color:  wheat ;
  color:rgb(250, 249, 246);
  opacity: 1;
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
  padding: 50px;
  
}

.sertificate {
  background-color: #239b76;
  text-decoration: none;
}

.blog {
 background-color: #3b5998;
 margin-right: 50px;
 margin-left: 50px;
 text-decoration: none;
}
.homey{
  background-color: #20c000;
  text-decoration: none; 
  margin-right: 50px;
}

.contact {
  background-color: #55acee;
  text-decoration: none;
}

.btn {
  padding: 30px 84px 30px 84px;
  color: white;
  display: inline-block;
  opacity: 0.7;
  border-radius: 4px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}

footer{
  text-align: center;
  background-color: rgb(83, 59, 59);
  height:10px 0px 10px 0px;
  color: #ffffff;
  padding: 5px ;
  font-size: 15px;
  font-weight: bolder;
  margin: 0px 0px 0px 0px;
}

.Certificate h1{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.Certificate img{
  position: relative;
  display: inline;
  width: 40%;
  margin: 0% 15% 0% 15% ;
  padding: 0% 15% 0% 15% ;
 
}
.Certificate a {
  display: inline;
  text-decoration: none;
  margin: 0% 21% 0% 25%;
  padding: 20px 0px 20px 0px;
}

.bwh{
  padding-top: 50px;
}

/* responsive */

@media all and (max-width: 1000px) {
.sertifikat{
    display: none;
  }
.mblog{
    display: none;
  }
.kontak{
    display: none;
  }
.btn{
    margin-bottom: 80px;
  }
.home{
  display: none;
}

.WELCOME h1{
  text-align: center;
  margin-top: 5px;
  color: white;
  margin-right: 35%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.homey{
  background-color: #20c000;
  text-decoration: none; 
  margin-left: 50px;
}

.Certificate img{
    position: relative;
    display: inline-block;
    width: 40%;
   
    
}
.Certificate a {
  display: inline;
  text-decoration: none;
  margin: 0% 23% 0% 22%;
  padding: 0px 0px 0px 0px;
}

}
@media all and (max-width: 670px) {
  
.sertifikat{
    display: none;
  }
.mblog{
    display: none;
  }
.kontak{
    display: none;
  }
.btn{
    margin-bottom: 80px;
  }
.home{
  display: none;
}
.WELCOME h1{
  text-align: center;
  margin-top: 5px;
  color: white;
  margin-right: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Certificate img{
    position: unset;
    display: inline-flexbox;
    width: 100%;
    margin: 0% 1% 0% 1% ;
    padding: 0% 1% 0% 1% ;
}
.Certificate a {
  display: inline;
  text-decoration: none;
  margin: 0% 10% 0% 22%;
  padding: 0px 0px 0px 0px;
}

}
